In [1]:
# Initial imports.
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.datasets import make_classification
import sqlalchemy as sql
from getpass import getpass

In [2]:
# Ask for the database pasword
password = getpass('Enter database password')

Enter database password········

In [3]:
# Create engine to connect to database
engine = sql.create_engine(f'postgresql://postgres:{password}@obstetric-violence.clstnlifxcx7.us-west-2.rds.amazonaws.com:5432/ENDIREH_2021')

# Get list of table names
sql.inspect(engine).get_table_names()

['TVIV', 'TSDem', 'TB_SEC_III', 'TB_SEC_IV', 'TB_SEC_X', 'obstetric_violence']

In [4]:
# Read the obstetric_violence table and show the results
df = pd.read_sql_table('obstetric_violence', con=engine)
df

,ID_PER,ID_VIV,UPM,VIV_SEL,HOGAR,N_REN,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,...,P10_8_6,P10_8_7,P10_8_8,P10_8_9,P10_8_10,P10_8_11,P10_8_12,P10_8_13,P10_8_14,P10_8_15
0,0100128.05.1.02,100128.05,100128,5,1,2,1,AGUASCALIENTES,1,AGUASCALIENTES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0101482.03.1.03,101482.03,101482,3,1,3,1,AGUASCALIENTES,1,AGUASCALIENTES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0101631.04.1.01,101631.04,101631,4,1,1,1,AGUASCALIENTES,1,AGUASCALIENTES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0101876.04.1.02,101876.04,101876,4,1,2,1,AGUASCALIENTES,1,AGUASCALIENTES,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
4,0102096.02.1.02,102096.02,102096,2,1,2,1,AGUASCALIENTES,5,JESÚS MARÍA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110122,2805373.02.1.02,2805373.02,2805373,2,1,2,28,TAMAULIPAS,32,REYNOSA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110123,2806028.02.1.03,2806028.02,2806028,2,1,3,28,TAMAULIPAS,38,TAMPICO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110124,3103444.16.1.01,3103444.16,3103444,16,1,1,31,YUCATÁN,21,CHICHIMILÁ,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,NaN
110125,3103573.19.1.04,3103573.19,3103573,19,1,4,31,YUCATÁN,35,HOCTÚN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110126,3101086.01.1.02,3101086.01,3101086,1,1,2,31,YUCATÁN,50,MÉRIDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
# Define the target set.
target = ['p10_8_1',
    'p10_8_2',
    'p10_8_3',
    'p10_8_4',
    'p10_8_5',
    'p10_8_6',
    'p10_8_7',
    'p10_8_8',
    'p10_8_9',
    'p10_8_10',
    'p10_8_11',
    'p10_8_12',
    'p10_8_13',
    'p10_8_14',
    'p10_8_15',]
y = df['p10_8_8']
y = y.fillna(0)

# Define the features set.
X = df.copy()
X = X.drop(columns=target)
X = X.drop(columns=['id_viv','upm', 'id_per'])

# Generate our categorical variable lists
application_cat = X.dtypes[X.dtypes == 'object'].index.tolist()
X = X.drop(columns=application_cat)

In [138]:
X = X.fillna(0)
max(X.max())

999999.0

In [139]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=18)

In [140]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [143]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=18)

In [144]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [145]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [147]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
# Displaying results
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Accuracy Score : 0.9967600515315246
Classification Report
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00     81405
         1.0       1.00      0.62      0.77       878
         2.0       0.98      1.00      0.99     21731

    accuracy                           1.00    104014
   macro avg       0.99      0.87      0.92    104014
weighted avg       1.00      1.00      1.00    104014

In [148]:
# Sort the features by their importance.
sorted(zip(rf_model.feature_importances_, pd.DataFrame(data=X).columns), reverse=True)

[(0.2031990875710407, 'p10_7'),
 (0.18712158261438763, 'p10_4_1'),
 (0.13187124853225837, 'p10_6mes'),
 (0.12845377149565362, 'p10_6anio'),
 (0.11658249221263205, 'p10_3'),
 (0.039560390990765526, 'p10_5_01'),
 (0.02546040954581277, 'p10_5_02'),
 (0.02491437156261494, 'p10_5_07'),
 (0.020953709892517887, 'p10_2'),
 (0.011357528953952154, 'edad'),
 (0.008617827794357371, 'p10_5_05'),
 (0.006696286001653509, 'p2_16'),
 (0.005400474502628161, 'p4_7_ab'),
 (0.0047891676150730415, 'p4_5_ab'),
 (0.004598343144941996, 'p4_5_1_ab'),
 (0.004009810039171145, 'p3_1'),
 (0.003678094817291754, 'p2_11'),
 (0.003479677706743299, 'niv'),
 (0.0027267065957611095, 'p1_7'),
 (0.0024586034472776916, 'fac_viv'),
 (0.0024017099860649265, 'upm_dis'),
 (0.002384241569458134, 'p4bc_1'),
 (0.002377506071615297, 'n_ren_esp'),
 (0.0023090551435051734, 'p10_4_3'),
 (0.002280164708983225, 'p4_4_cve'),
 (0.0022465468377546017, 'p2_13'),
 (0.0021398009724603465, 'p2_9'),
 (0.0021325143168789244, 'gra'),
 (0.002046655333821146, 'cve_mun'),
 (0.002011444239231434, 'est_dis'),
 (0.001601425976568409, 'viv_sel'),
 (0.0015793696620947447, 'p1_3'),
 (0.0014412747221402118, 'cve_ent'),
 (0.0014339264761491202, 'p10_1_6'),
 (0.0013571793383237451, 'p4_6_ab'),
 (0.0013301999578102463, 'p4_13_4'),
 (0.0012124866396231474, 'p4ab_1'),
 (0.0011890542213954642, 'p1_2_a'),
 (0.001136162566175138, 'p2_5'),
 (0.0011350302196248762, 'p2_6'),
 (0.0011144499162007706, 'p3_2'),
 (0.0010790049259200014, 'p4_2'),
 (0.0010146944582359822, 'p10_4_2'),
 (0.0010104655009796958, 'p2_10'),
 (0.0009517370970606662, 'p1_2'),
 (0.0009268748110209845, 'p4ab_2'),
 (0.0007119931110724722, 'n_ren'),
 (0.0006667220200348345, 'p4_3'),
 (0.0006531827902668178, 'estrato'),
 (0.0006503902736807587, 'p3_6'),
 (0.0005910861582785777, 'paren'),
 (0.0005854039771502359, 'p1_5'),
 (0.0005743993862256791, 'p1_4_3'),
 (0.0005647261665077568, 'p4_2_1'),
 (0.0005591908302939939, 'p1_4_4'),
 (0.0005266962845470671, 'p4_12_4'),
 (0.0005213663867911754, 'p4_13_2'),
 (0.0005005599434711242, 'p1_1'),
 (0.0004946800283914523, 'p10_5_11'),
 (0.00044552325176889547, 'p10_1_1'),
 (0.0004438052461871352, 'p1_6'),
 (0.00043299643702122314, 'p10_1_9'),
 (0.00043168421803998374, 'p4bc_4'),
 (0.0004223959796340655, 'p4_9_6'),
 (0.0004211767517391425, 'p4bc_3'),
 (0.00041467865683297915, 'p4_11'),
 (0.00041255374743624746, 'p1_4_1'),
 (0.0003758996230079738, 'p2_14'),
 (0.0003685508749312109, 'p1_4_9'),
 (0.0003572918802066118, 'p4_13_1'),
 (0.0003544582304982603, 'p1_4_7'),
 (0.0003449805301869759, 'p4_1'),
 (0.0003365582639940364, 'p4_9_4'),
 (0.0003252733729535262, 'p1_4_8'),
 (0.00031641124448917614, 'fac_muj'),
 (0.0003067948666299637, 'p2_8'),
 (0.00029255334145396507, 'p4_13_3'),
 (0.00027655926178674637, 'p4_12_2'),
 (0.0002647999470415621, 'p4b_2'),
 (0.00026208643028494534, 'p1_4_2'),
 (0.00026149403387894894, 'p4bc_2'),
 (0.0002575846295431683, 'p1_9'),
 (0.00025534652277887725, 'p2_15'),
 (0.00024616383542358516, 'ren_muj_el'),
 (0.0002454912067371852, 'p1_4_6'),
 (0.00024033491074435993, 'p1_4_5'),
 (0.00022224945935301439, 'p4_12_1'),
 (0.00022052842855021867, 'p4b_1'),
 (0.00021307511677000305, 'p4_8_6'),
 (0.00020925786599188556, 'p4_13_7'),
 (0.00018968013363548252, 'p10_5_03'),
 (0.00018057867565353473, 'p4_12_3'),
 (0.00017715302319680335, 'p3_3'),
 (0.00017055357311929678, 'ren_inf_ad'),
 (0.0001679850503607188, 'p4_8_4'),
 (0.00016687184253827853, 'p2_12'),
 (0.0001663091690965335, 'p10_5_10'),
 (0.0001591990233048775, 'p10_1_8'),
 (0.00014811874435163584, 'p1_10_2'),
 (0.00014345225535179857, 'sexo'),
 (0.0001335456643416226, 'p4_12_7'),
 (0.00013056669457825427, 'p1_8'),
 (0.00013049972760185904, 'p4_10_3_1'),
 (0.00012597043513884427, 'p4a_2'),
 (0.00012562038228613296, 'p4a_1'),
 (0.00012039035882145369, 'p10_5_06'),
 (0.00011779746002232672, 'p4c_1'),
 (0.00011132834467592761, 'p4_9_2'),
 (0.00010440395453472995, 'p4_9_3'),
 (0.00010294974197746248, 'p4_13_5'),
 (9.901475515309473e-05, 'p4_9_5'),
 (9.794960544182948e-05, 'p10_1_2'),
 (9.269685466846063e-05, 'p3_4'),
 (9.116684444390189e-05, 'p4_10_2_1'),
 (8.406506779015893e-05, 'p10_5_09'),
 (8.245468094188493e-05, 'p10_1_3'),
 (8.196068142649324e-05, 'p10_5_04'),
 (7.88121861904701e-05, 'p3_7'),
 (7.689888864591654e-05, 'p4bc_5'),
 (6.907471370471047e-05, 'p4_8_2'),
 (6.774000887872679e-05, 'hogar'),
 (6.590967329126382e-05, 'codigo'),
 (6.31434667207673e-05, 'p4_13_6'),
 (5.986520161072674e-05, 'cod_m15'),
 (5.835872108840425e-05, 'p4_8_5'),
 (5.786510273100758e-05, 'p4_9_7'),
 (5.77820777790065e-05, 'p4_12_5'),
 (5.460844173415314e-05, 'p4_8_3'),
 (4.697351850253106e-05, 'p10_1_4'),
 (3.8364518851030934e-05, 'p1_10_4'),
 (3.739224480938103e-05, 'p10_1_7'),
 (3.564829376128775e-05, 'p4_12_6'),
 (3.4915392057001624e-05, 'p3_5'),
 (3.4456773202929685e-05, 'p10_1_5'),
 (3.1858447157868546e-05, 'p4_10_3_2'),
 (3.071766216741357e-05, 'p1_10_3'),
 (2.963426243080259e-05, 'p4_8_7'),
 (2.7694250828648307e-05, 'p10_5_08'),
 (2.2801807718477e-05, 'p4_10_2_3'),
 (2.2792621445130962e-05, 'p1_10_1'),
 (2.2040612501503014e-05, 'p4_9_1'),
 (1.4156650810209656e-05, 'p4_8_1'),
 (6.695488688455096e-06, 'p4_10_2_2'),
 (0.0, 'p4_10_3_3'),
 (0.0, 'cod_res')]